// **** Variables **** //

$primary-color: #1976d2;
$background-color-1: #f5f5f5;
$background-color-2: #323232;
$heading-text: #000000f0;
$body-text-1: #000000de;
$body-text-2: #00000099;

// **** Global **** //

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #e1e1e1;
}

html {
  scroll-behavior: smooth;
}

// **** Components **** //

/* AppNavBar */
.nav-bar {
  &__nav {
    padding: 0 2rem !important;
    width: 80%;
    margin: 0 auto;
    &--favourite-list {
      .MuiPopover-paper {
        padding: 1rem 2rem;
        top: 3rem !important;
        width: 350px;
      }
      &--heading {
        padding-bottom: 1rem;
      }
      &--body {
        color: rgb(55, 55, 55);
      }
    }
  }
}

/* CountryCard */

.country-card {
  margin: 1rem 0;

  &__area {
    background-color: rgb(240, 240, 240);
    padding: 0.5rem;
    height: 7rem;
    display: flex;
    align-items: center !important;
    justify-content: center !important;

    li {
      justify-content: space-between !important;
    }

    &--icons {
      display: flex;
      justify-content: space-between;

      &-more {
        margin-left: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &:hover {
          &::before {
            content: 'Learn More';
          }
        }
      }
      &-btn {
        &:hover {
          background-color: rgba($primary-color, 0.2) !important;
        }
      }
    }

    &--avatar {
      padding-right: 2rem;
      img {
        width: 100px;
        height: auto;
      }
    }
    &:hover {
      background-color: rgba($primary-color, 0.1);
    }
  }
  a {
    text-decoration: none !important;
    color: $primary-color !important;
  }
}

/* CountryList */

.country-list {
  &--search {
    background-color: rgba($primary-color, 0.2) !important;
    padding: 1rem;
  }
}

/* FavouriteItem */

.favourite-item {
  background-color: #eeeeee !important;
  padding: 1rem !important;
  // width: 350px;
  display: flex !important;
  justify-content: space-between !important;
  margin-bottom: 0.5rem !important;

  &--flag {
    width: 100px;
  }
}

/* Search */

// **** Pages **** //

/* Home */
.home {
  &__country-list {
    margin-top: 7rem;
  }
}

/* SingleCountry */

.single-country {
  margin: 5rem auto !important;
  width: 500px;
  &__card {
    width: 500px;
    margin: 0 auto;
    &--img {
      height: 300px !important;
    }
  }
  &--btn {
    margin-top: 1rem;
    width: auto;
  }
}
